/**
Global design
 */
html {
  font-family: 'Roboto', 'Roboto-Light', sans-serif, 'FontAwesome';
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

body {
  padding-top: 64px;
  padding-bottom: 60px;
}

body > div {
  width: 100%;
  padding-bottom: 64px;
}

/**
--------------------------------Top Nav Bar design-----------------------
 */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #2196F3;
  display: block;
  z-index: 100;
}

.topnavul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  line-height: 64px;
  padding-left: 0.7%;
  //position: relative;

}

.topnavli {
  height: 64px;
}

.myselected {
  background-color: #1E88E5;
  height: 64px;
}

/**
Logo Design
 */


.logos {
  color: #FFFFFF;
}

.logos > i {
  color: #FFFFFF;
  font-size: 1.88rem;
  text-decoration: none;
}

.logos > span {
  font-size: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

.topnavli *,
.topnavli > a {
  text-decoration: none;
  list-style: none;

}

.topnavli > a {
  padding-right: 10px;
  padding-left: 10px;
}

.topnavlink:link,
.topnavlink:visited,
.topnavlink:hover,
.topnavlink:active,
.topnavlink:focus,
.topnavlink {
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  display: block;
  font-weight: 100;

}

/**
Search Design
 */

.searchintopnav {
  margin-left: auto;
  position: relative;
}

.search-sign {
  font-family: FontAwesome;
  font-weight: 100;
  font-size: 17px;
  color: #FFFFFF;
  position: absolute;
  left: 5px;
  bottom: 0;
}

.search {
  font-family: 'Roboto-Light';
  letter-spacing: 1px;
  padding-left: 20px;
  background-color: #1E88E5;
  color: white;
  width: 330px;
  height: 25px;
  border: 1px solid #D8D8D8;
  border-radius: 25px;
}

.search::placeholder {
  color: #FFFFFF;
}

.logout {
  font-family: Roboto-Light;
  font-weight: 100;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #2196F3;
  margin-right: 10px;
  margin-left: 10px;
}

/**
Categories Design
 */

.pagenumber {
  margin: 0 auto;
  //outline: 2px blue solid;
  //text-align: center;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;

}
.pagenumberbtn {
  width:87px;
  height: 30px;
  background: #2196F3;
  margin: 5px;

  border-radius: 2px;
  border: none;
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #FFFFFF;
}
.current-page-number {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #000000;
line-height: 40px;

}



/**
Sign up and in Designs
 */

.sign-container {
  margin: 0 auto;
  padding-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.signup-logo {
  font-size: 6.25rem;
  text-align: center;
  color: #2196F3;
}

.sign-title {
  font-size: 2.5rem;
  text-align: center;
  color: #2196F3;
  margin-top: 10px;
}

.sign-username {
  color: #2196F3;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.sign-username-input {
  border: 0;
  border-bottom: 2px solid;
  border-bottom-color: #2196F3;
  padding-top: 5px;
  padding-bottom: 10px;
}

.sign-action-title {
  font-size: 1.38rem;
  margin-top: 10px;
  margin-bottom: 10%;
}

.sign-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;

}

.sign-password {
  color: #2196F3;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-bottom: 10px;

}

.sign-form > p,
.sign-form > input {
  width: 100%;
  outline: none;
}

.sign-submit-btn {
  background-color: #2196F3;
  color: white;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  width: 87px;
  height: 30px;
  align-self: center;
  text-transform: uppercase;
}

.sign-question {
  display: inline;
}

.sign-link {
  margin-left: 20px;
}

.sign-link:link,
.sign-link:visited,
.sign-link:hover,
.sign-link:active,
.sign-link:focus,
.sign-link {
  color: #2196F3;
  text-decoration: none;
}
.container {
  position: relative;
}

.categories-container {
  //width: 1024px;
  height: 40px;
  margin: 0;
  line-height: 40px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background: #DDE4E6;
  position: fixed;
  top: 64px;
  left:0;
  width: 100%;
  z-index: 50;
}
.categories-container li:not(:first-child)  {
  margin: auto;
}
.category a:link,
.category a:visited,

.category a:active,
.category a:focus,
.category a:link {
text-decoration: none;
  font-family: Roboto-Light;
  font-size: 15px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  //padding-bottom: 5px;
}

.category a:hover {
  color: #2d2d11;
  box-shadow: inset 0 -2px 0 #5CB3FF;
  transition: all .2s ease-in-out;
}
.my-selected-category {
  //height: 64px;
  //background-color: #bac1c3;
  //display: block;
  padding-left: 10px;
  padding-right: 10px;
  //padding-bottom: 5px;
  color: #2d2d11;
  box-shadow: inset 0 -2px 0 #5CB3FF;

}






.genres-title {
  font-weight: bold;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #000000;
  justify-content: flex-start;
}
.explore-title-genres {
  font-family: Roboto-Medium;
  margin-left: 15px;
  font-size: 23px;
  color: #000000;
  padding-top: 40px;
}

.song-card {
  display: flex;
  text-decoration: none;
  list-style: none;
  //outline: 1px blue solid;
  border: 1px #D8D8D8 solid;
  position: relative;
  width: 220px;
  height: 140px;
  font-size: 11px;
  font-family: Roboto-Regular;
  color: #4A4A4A;
  //margin: 10px;
  margin: 20px;

}

.img-song {
  //margin: 0 auto;
  width: 200px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px 10px 10px 10px;

}

.image-in-player {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
background-position: center center;
  background-size: cover;

}
.playlist-container {
  display: flex;
  height: 1000px;

}
.playlist-bar {
  //outline: 1px blue solid;
  width: 19.5%;

  display: block;
  background: #FFFFFF;
  box-shadow: inset -1px 0 0 0 #D8D8D8;

}
.playlists {
  width: 80.5%;
  //outline: 1px solid pink;
  display: block;
}
.add-list-btn {
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #FFFFFF;
  width: 180px;
  height: 30px;
}
.playlist-bar-separator {
  width: 180px;
  height: 1px;
  background: #D8D8D8;
  margin: 0 auto;
}

.song-card .song-title {
  padding: 10px;

}

.song-card .song-duration {
  display: block;
  position: absolute;
  left: 22.5px;
  bottom: 10px;

}

.heart-font {
  font-size: 14px;
  color: #D8D8D8;
  transition: all .2s ease-in-out;
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  bottom: 10px;
  }
.fa-heart {
  color:#2196F3;
}

.heart-font:hover {
  color: #2196F3;
  transform: scale(1.10);
}

.clock {
  font-family: FontAwesome;
  font-size: 10px;
  color: #4A4A4A;
  line-height: 13px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.songs-container {
  display: flex;
  justify-content: space-around;
  //width: 966px;
  //height: 680px;
  //outline: 2px pink solid;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}


.Player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.playerElm {
  width: 310px;
}
.play-on-card {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  //background-color: black;
  //transition: opacity;
  opacity: 0;
  //transition-duration: 2s;
//transform: opacity;
}
.play-on-card:hover {
  transition: all .1s ease-in-out;
  //transform: opacity();
  opacity: 1;
}




.song-drop-down {
  position: absolute;
  top:93%;
  right:10px;
  width: 130px;
  height: 110px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  display: none;

  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.song-drop-down-add-to-title {
  font-family: Roboto-Bold;
  font-size: 11px;
  color: #4A4A4A;
}
.song-drop-down-add-to-btn {
  font-family: Roboto-Regular;
  font-size: 9px;
  color: #2196F3;
}
.song-drop-down-label {



font-family: Roboto-Regular;
font-size: 9px;
color: #4A4A4A;
line-height: 12px;
}


.innerplay {
  font-family: FontAwesome;
  font-size: 30px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}






