
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.topnav {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 60px;
  background-color: aqua;
  display: block;
}

.Player {
  position: fixed;
  bottom:0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: coral;
}
.searchintopnav {
  float: right;
}

.categoriescontainer {
  list-style: none;
  display: inline;
  outline: 20px blue solid;
}



