@import 'assets/styles/colors';

.playlist {
  position: relative;
  list-style: none;
  //display: flex;
  //flex-wrap: wrap;
  //flex-wrap: wrap;

  .scroll-to {
    position: absolute;
    top: -5rem;
    left: 0;

  }


  form {

    .form-container {
      position: relative;
      &:hover {

        .delete-btn {
          display: inline-block;
          &:hover {
            background-color: #D8D8D8;
          }

        }
      }
      .delete-btn {
        position: absolute;
        left: 87%;
        //top: 10%;
        top: 35%;
        background-color: #FFFFFF;
        display: none;
        width: 51px;
        height: 18px;
        border: none;
        border-radius: 2px;
        //outline: 1px blue solid;
        font-family: Roboto-Medium;
        color: #F44336;
        z-index: 20;
        font-weight: bold;
        cursor: pointer;
        //margin: 22px 18px;

        overflow: hidden;
        /*

          //margin-right: 18px;
          margin: 22px 18px;
          border: none;
          font-size: 0.81rem;
          position: relative;
          overflow: hidden;*/

      }
      .delete-list-btn:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
      }
      .delete-list-btn:focus:not(:active)::after {
        animation: ripple 1s ease-out;
      }
      @keyframes ripple {
        0% {
          transform: scale(0, 0);
          opacity: 1;
        }
        20% {
          transform: scale(25, 25);
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: scale(40, 40);
        }
      }

      .songs-counter-in-playlist-bg {

        margin-left: 0px;
        top: 10px;
        position: absolute;
        width: 20px;
        height: 20px;
        background: #2196F3;
        border-radius: 20px;
        display: inline-block;
        color: white;
      }

      .songs-counter-in-playlist {
        font-size: 10px;
        position: absolute;
        top: 5px;
        left: 7px;
      }
    }
    .playlist-title {
      background: #FFFFFF;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      font-family: Roboto-Light;
      font-size: 22px;
      color: #000000;
      height: 4rem;
      //width: 91.92%;
      width: 94%;
      display: flex;
      align-items: center;
      padding-left: 25px;
    }
  }
  .empty-list {
    display: block;
    height: 182px;
    width: 95.9%;
    line-height: 6;
    //outline: 1px blue solid;
    text-align: center;

  }
  .list-of-songs {
    display: flex;
    //outline: 1px blue solid;
    width: 90.5%;
    //max-width: 900px;
    //max-width: 900px;
    justify-content: flex-start;
    //flex-direction: row;
    flex-wrap: wrap;
  }

}






